<p>
    Основание математической системы счисления, или база системы счисления, есть уникальное число (включая нуль) 
    такое, что позиционная система использует его для представления чисел.
    Например, в десятичной системе счисления основание равно десяти.
    Это потому что она имеет десять цифр от 0 до 9. 
    В системе с основанием 13 должно быть 13 чисел. 
    Например, последовательность цифр, таких как 398, обозначает десятичное число
    <em>3 * 13^2 + 9 * 13^1 + 8 * 13^0</em>.
    Для оснований с базой больше 10 мы будем использовать только заглавные латинские символы от A до Z, где A = 10, B = 11 ...
</p>

<p>
    Вам дано некоторое число <strong>n</strong>, записанное как строка с основанием <strong>k (1 &lt; k &lt; 37)</strong>.
    Вы знаете, что наше число делится на <strong>(k - 1)</strong> без остатка.
    Вы должны найти минимально возможное <strong>k</strong>, если это возможно, или вернуть 0.
</p>

<p>
    Например: 
    {% if "python 2" in interpreter|lower %}
        n = u"18".
    {% else %}
        n = "18".
    {% endif %}
    Как мы можем заметить, <strong>k</strong> должно быть больше 8. <br>
    Если k == 9, тогда n = 17 (в десятичной системе) и 17&nbsp;%&nbsp;8&nbsp;==&nbsp;1. Неверное основание.<br>
    Если k == 10, тогда n = 18 (в десятичной системе) и 18&nbsp;%&nbsp;9&nbsp;==&nbsp;0. Мы находим ответ.<br>

</p>
<p>
    <strong>Входные данные: </strong> Число как строка.
</p>

<p>
    <strong>Выходные данные: </strong> Основание k как число.
</p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: python">
goodRadix(u"18") == 10
goodRadix(u"1010101011") == 2
goodRadix(u"222") == 3
goodRadix(u"A23B") == 14
goodRadix(u"IDDQD") == 0
</pre>
{% else %}
<pre class="brush: python">
checkio(u"18") == 10
checkio(u"1010101011") == 2
checkio(u"222") == 3
checkio(u"A23B") == 14
checkio(u"IDDQD") == 0
</pre>
{% endif %}

<p>
    <strong>Как это используется: </strong>

    Давайте познакомимся с системами счисления более тщательно и изучим основания.
    Многие устройства построены так, чтобы принимать числа
    в десятичном представлении и отображать результаты в десятичной системе. 
    Часто такие устройства преобразуют числа из десятичной системы счисления в 
    какую-то внутреннюю систему счисления на входе, 
    производят все внутренние операции в этой системе счисления, 
    а затем преобразуют результаты из внутренней системе счисления 
    в десятичную на выходе. Такие устройства могут, в принципе, 
    использовать внутри любую систему счисления.
    Люди, которые разрабатывают различные вычислительные устройства, иногда задаются вопросом, какое было бы "наилучшее" основание системы для использования.
    Восьмеричная, шестнадцатеричная и 64-ая системы часто используются для вычисления из-за их легкости, как сокращение от двоичной.

</p>
<p>
    <strong>Предусловия: </strong> Число соответствует регулярному выражению "[A-Z0-9]{1, 10}".<br>
    0 &lt; Число
</p>
